<div class="ui-block text-center" *ngIf="currentServiceRequests.length < 1">
  <h5>{{'NoDataToDisplay' | translate}}</h5>
</div>

<div *ngFor="let sreq of currentServiceRequests; let i = index; trackBy : trackingBy">

  <div class="ui-block">
    <article class="hentry post">

      <div class="post__author author vcard inline-items">

        <div class="author-date">
          <h6 class="h6 post__author-name fn" >{{sreq.userName}} ({{sreq.tenantUnitAddress}}) </h6>
          <div class="post__date">
            <time class="published" datetime="2004-07-24T18:18">
              {{sreq.addedDateUtc | PSDateTransform }}
            </time>
          </div>
        </div>

      </div>
      <h4>{{sreq.title}}</h4>
      <p>
        {{sreq.details}}
      </p>

      <div class="post-additional-info">

        <div class="row">
          <div class="col-lg-12">
            <span *ngIf="sreq.givePermission"><i class="fa fa-check alert-success"></i> {{'HavePermission'|translate}}</span>
            <span *ngIf="!sreq.givePermission"><i class="fa fa-times alert-danger"></i> {{'HaveNoPermission'|translate}}</span>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <span *ngIf="sreq.havePet"><i class="fa fa-check alert-success"></i> {{'HavePet'|translate}}</span>
            <span *ngIf="!sreq.havePet"><i class="fa fa-times alert-danger"></i> {{'HaveNoPet'|translate}}</span>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <span *ngIf="sreq.haveAlarm"><i class="fa fa-check alert-success"></i> {{'HaveAlarm'|translate}}</span>
            <span *ngIf="!sreq.haveAlarm"><i class="fa fa-times alert-danger"></i> {{'HaveNoAlarm'|translate}}</span>

          </div>
        </div>

        <div class="row pt-2">
          <div class="col-lg-6">
            <a href="tel:{{sreq.phone}}"><i class="fa fa-phone"></i> {{sreq.phone}}</a>

          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-12">
            <div class="dropdown  pull-right">
              <button class="btn btn-blue" type="button" id="dropdownMenuButton_{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{sreq.requestStatusKey | translate}} <i   class="fa fa-caret-down" *ngIf="!hideStatusCaret(sreq.requestStatusKey)" ></i>
              </button>
              <div class="dropdown-menu" *ngIf="!hideStatusCaret(sreq.requestStatusKey)">
                <a class="dropdown-item" style="cursor:pointer;"  (click)="onStatusClicked(i,'Completed')" *ngIf="!isTenant && !isSameStatus(sreq.requestStatusKey, 'Completed') ">{{'Completed' | translate}}</a>
                <a class="dropdown-item" style="cursor:pointer;" (click)="onStatusClicked(i,'Scheduled')" *ngIf="!isTenant && !isSameStatus(sreq.requestStatusKey, 'Scheduled')">{{'Scheduled' | translate}}</a>
                <a class="dropdown-item" style="cursor:pointer;" (click)="onStatusClicked(i,'Cancelled')" *ngIf="!isSameStatus(sreq.requestStatusKey, 'Cancelled')">{{'Cancelled' | translate}}</a>

              </div>

            </div>

          </div>
        </div>

      </div>

    </article>


  </div>

</div>


<app-pager *ngIf="availableServiceRequests" [dataList]="availableServiceRequests" (onPaged)="currentServiceRequests = $event"></app-pager>
