<div class="row" >
  <div class="col-lg-12">
    <button class="btn btn-success" [hidden]="isOpenForm" type="button" (click)="openForm(true)"><i class="fa fa-plus"></i> {{"AddNew" | translate}}</button>
  </div>
</div>

<form *ngIf="isOpenForm" #stfForm="ngForm" (ngSubmit)="saveStaff(stfForm)" ngNativeValidate>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <app-errormessage [appMsg]="InfoMsg"></app-errormessage>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label" for="accountCode">{{'AccountCode' | translate}}</label> {{'Colon' | translate}}
        <label>To enter multiple , press enter after each entry.</label>
        <p-chips id="accountCode" name="accountCode" [max]="10" [allowDuplicate]="false" placeholder="{{'EnterAccountCode' | translate}}" inputStyleClass="form-control" [(ngModel)]="staffForm.serviceCodeValues" required></p-chips>
      </div>
    </div>  
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label" for="title">{{'Title' | translate}}</label> : 
        <input type="text" pInputText class="form-control" id="title" placeholder="{{'EnterPositionTitle' | translate}}" name="title" [(ngModel)]="staffForm.title" required [attr.maxlength]="siteConstant.Max100Length" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button class="btn btn-secondary btn-lg full-width" type="button"  (click)="openForm(false)">{{'Cancel' | translate}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button class="btn btn-blue btn-lg full-width" [disabled]="!stfForm.form.valid" type="submit">{{'Save' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
        </div>
      </div>
    </div>


  </div>
</form>
