<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">{{'Social' | translate}}</h6>
  </div>
  <div class="ui-block-content">

    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-success" [hidden]="isOpenForm" type="button" (click)="openForm(true)"><i class="fa fa-plus"></i> {{"AddNew" | translate}}</button>
      </div>
      <div class="col-lg-12">
        <form   [hidden]="!isOpenForm" ngNativeValidate>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <app-errormessage [appMsg]="InfoMsg"></app-errormessage>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="serviceCodeValues">{{'Select' | translate}}</label>
                <select class="select-2">
                  <option></option>
                </select>

              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="form-group ">
                <label class="control-label" for="serviceCodeValues">{{'Select' | translate}}</label>
                <input type="text" class="form-control" pInputText />
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group ">
                <button type="button" class="btn btn-secondary btn-lg full-width" (click)="openForm(false)">{{'Cancel' | translate}}</button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group ">
                <button type="submit" class="btn btn-blue btn-lg full-width">{{'Save' | translate}}</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>




  </div>
</div>
