

<div class="ui-block" *ngIf="canSeeSRForm">
  <div class="news-feed-form">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active inline-items" data-toggle="tab" (click)="showformClicked(true)" href="#home-1" role="tab" aria-expanded="true">

          <i class="fa fa-2x fa-briefcase"></i>

          <span>{{'Requestaservice' | translate}} {{selectedProperty.propName}}</span>
        </a>
      </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content" [hidden]="!showForm">
      <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
        <form class="content" #srform="ngForm" (ngSubmit)="onSRSubmit(srform)" ngNativeValidate>
          <div class="form-group">
            <app-errormessage [appMsg]="srInfoMsg"></app-errormessage>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="title">{{'Title' | translate}}</label>
            <input class="form-control" id="title" name="title" placeholder="" [(ngModel)]="serviceReq.title" [attr.maxlength]="siteConstant.Max250Length" required />
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="details">{{'Details' | translate}}</label>
            <textarea class="form-control" id="details" name="details" [(ngModel)]="serviceReq.details" placeholder="" [attr.maxlength]="siteConstant.Max500Length" required></textarea>
          </div>
          <div class="form-group label-floating">
            <label class="control-label" for="phone">{{'Phonenumber' | translate}}</label>
            <p-inputMask name="phone" id="phone"  [(ngModel)]="serviceReq.phone" mask="(999) 999-9999" [attr.maxlength]="siteConstant.PhoneMaxLength" required></p-inputMask>
          </div>
          <div class="form-group pt-1 pl-2">
            <label class="control-label" for="givePermission">{{'HavePermissionQuest' | translate}}</label> <br />
            <p-toggleButton name="givePermission" id="givePermission" onLabel="{{'Yes' | translate}}" offLabel="{{'No' | translate}}" [(ngModel)]="serviceReq.givePermission"></p-toggleButton>
          </div>
          <div class="form-group pt-1  pl-2">
            <label class="control-label" for="haveAlarm">{{'HaveAlarmQuest' | translate}}</label> <br />
            <p-toggleButton name="haveAlarm" id="haveAlarm" onLabel="{{'Yes' | translate}}" offLabel="{{'No' | translate}}" [(ngModel)]="serviceReq.haveAlarm"></p-toggleButton>
          </div>
          <div class="form-group pt-1  pl-2">
            <label class="control-label" for="havePet">{{'HavePetQuest' | translate}}</label> <br />
            <p-toggleButton name="havePet" id="havePet" onLabel="{{'Yes' | translate}}" offLabel="{{'No' | translate}}" [(ngModel)]="serviceReq.havePet"></p-toggleButton>
          </div>
          <div class="add-options-message">
            <button type="submit" [disabled]="!srform.form.valid" class="btn btn-blue btn-md-2">{{'Submit' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
            <button type="button" class="btn btn-secondary btn-md-2" (click)="showformClicked(false)">{{'Cancel' | translate}}</button>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>
