<div class="ui-block" *ngIf="canSeeNewsForm">
  <div class="news-feed-form">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

          <i class="fa fa-2x fa-newspaper-o"></i>

          <span>{{'Sharewith' | translate}} {{selectedProperty?.propName}}</span>
        </a>
      </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
        <form class="content" #newform="ngForm" (ngSubmit)="onNewsSubmit(newform)" ngNativeValidate>
          <div class="form-group">
            <app-errormessage [appMsg]="InfoMsg"></app-errormessage>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="details">{{'WhatsNew' | translate}}...</label>
            <textarea class="form-control" id="details" name="details" [(ngModel)]="newsForm.details" required placeholder="" [attr.MaxLength]="siteConstant.Max500Length"></textarea>
          </div>
          <div class="add-options-message">
            <div class="checkbox">
              <button type="submit" [disabled]="!newform.form.valid" class="btn btn-blue btn-md-2">{{'Share' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>
