<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">{{'Pages' | translate}}</h6>
  </div>
  <div class="ui-block-content">

    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-success" [hidden]="isOpenForm" type="button" (click)="openForm(true)"><i class="fa fa-plus"></i> {{"AddNew" | translate}}</button>
      </div>
      <div class="col-lg-12">
        <form [hidden]="!isOpenForm" ngNativeValidate>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <app-errormessage [appMsg]="InfoMsg"></app-errormessage>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="serviceCodeValues">{{'Pages' | translate}}</label>
                <p-multiSelect defaultLabel="{{dropDownLabel}}" [style]="{minWidth:'100%'}" [panelStyle]="{minWidth:'100%'}"></p-multiSelect>

              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group pt-lg-4  pt-md-4">
                <button type="button" class="btn btn-secondary" (click)="openForm(false)" style="margin-top:3px;">{{'Cancel' | translate}}</button><button type="submit" class="btn btn-blue" style="margin-top:3px;">{{'Save' | translate}}</button>
              </div>
            </div>


          </div>

        </form>
      </div>
    </div>


  </div>
</div>
