<div class="container">
  <div class="row">
    <div class="col-xl-9  col-lg-9 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h4 class="title">{{'Welcome' | translate}} {{tempUser.firstName}}</h4>
        </div>
        <div class="ui-block-content">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h6>{{'RegisterSuccessLine1' | translate}} </h6> {{tempUser.email}}
            </div>
          
          </div>
          <div class="row pt_20">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h6>{{'RegisterSuccessLine2' | translate}} </h6>
            </div>
          </div>
          <div class="row pt_20">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <h5>{{'AppSlogan' | translate}}</h5>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
