<div class="ui-block text-center" *ngIf="currentNews.length < 1">
  <h5>{{'NoDataToDisplay' | translate}}</h5>
</div>

<div id="newsfeed-items-grid" *ngFor="let cnews of currentNews; let i = index; trackBy : trackingBy">

  <div class="ui-block">
    <article class="hentry post">

      <div class="post__author author vcard inline-items">
        <img [src]="GetImageUrl(cnews.userPhoto)" style="max-height:36px;" alt="author">
        <div class="author-date">
          <h6 class="h6 post__author-name fn">{{cnews.userName}}</h6>
          <div class="post__date">
            <time class="published">
              {{cnews.addedDateUtc | PSDateTransform }}
            </time>
          </div>
        </div>

        <div class="more" *ngIf="currentUser.userVM.id == cnews.userId">
          <i class="fa fa-ellipsis-h"></i>
          <ul class="more-dropdown">

            <li>
              <a style="cursor:pointer;" PSSweetAlert (onConfirm)="ondeletePost(i)">{{'Delete' | translate}}</a>
            </li>

          </ul>
        </div>

      </div>

      <p>
        {{cnews.details}}
      </p>



    </article>

   

  </div>

</div>


<app-pager *ngIf="availableNews" [dataList]="availableNews" (onPaged)="currentNews = $event"></app-pager>
