<!-- Fixed Sidebar Left -->

<div  [ngClass]="{'fixed-sidebar': true , 'open': leftSideMenuOpen}">
  <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">
    <a  routerLink ="{{isLoggedIn? '' :''}}" class="logo">
      <img src="../../../assets/img/logo.png" alt="{{'CommiHub' | translate}}">
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <app-leftmenu *ngIf="isLoggedIn" [iconsonly]="true"></app-leftmenu>
    </div>
  </div>

  <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
    <a routerLink ="{{isLoggedIn? '' :''}}"  class="logo">
      <img src="../../../assets/img/logo.png" alt="{{'CommiHub' | translate}}">
      <h6 class="logo-title">{{'CommiHub' | translate}}</h6>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul *ngIf="!isLoggedIn" class="left-menu">
        <li>
          <a style="cursor:pointer;" class="js-sidebar-open" (click)="CloseLeftMenu()">
            <i class="fa fa-2x fa-close" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Close'|translate"></i>
            <span class="left-menu-title ml-2">{{'CollapseMenu'|translate}}</span>
          </a>
        </li>
      </ul>
     <app-leftmenu *ngIf="isLoggedIn" [iconsonly]="false"></app-leftmenu>

    </div>
  </div>
</div>

<!-- ... end Fixed Sidebar Left -->
<!-- Fixed Sidebar Left -->

<div [ngClass]="{'fixed-sidebar fixed-sidebar-responsive': true, 'open':leftSideMenuOpen}">

  <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
    <a  class="logo js-sidebar-open" style="cursor:pointer;" (click)="OpenLeftMenu()">
      <img src="../../../assets/img/logo.png" alt="{{'CommiHub' | translate}}">
    </a>

  </div>

  <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
    <a routerLink ="{{isLoggedIn? '' :''}}"  class="logo">
      <img src="../../../assets/img/logo.png" alt="{{'CommiHub' | translate}}">
      <h6 class="logo-title">{{'CommiHub' | translate}}</h6>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">

      <div class="control-block">
        <div class="author-page author vcard inline-items" *ngIf="isLoggedIn">
          <div class="author-thumb">
            <img alt="author" src="../../../assets/img/author-page.jpg" class="avatar">
            <span class="icon-status online"></span>
          </div>
          <a href="" class="author-name fn">
            <div class="author-title">
              {{currentUser?.userVM?.firstName}} <i class="fa fa-angle-down"></i>
            </div>
          </a>
        </div>
        <div class="author-page author vcard inline-items" *ngIf="!isLoggedIn">
          <div class="author-thumb">
            <i class="fa  fa-2x fa-user"></i>
          </div>
          <a routerLink =""  class="author-name fn">
            <div class="author-title">
              {{'Guest' | translate}} <i class="fa fa-angle-down"></i>
            </div>
          </a>
        </div>
      </div>

      <div class="ui-block-title ui-block-title-small">
        <h6 class="title"></h6>
      </div>
      <ul *ngIf="!isLoggedIn" class="left-menu">
        <li>
          <a style="cursor:pointer;" class="js-sidebar-open" (click)="CloseLeftMenu()">
            <i class="fa fa-2x fa-close" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Close'|translate"></i>
            <span class="left-menu-title ml-2">{{'CollapseMenu'|translate}}</span>
          </a>
        </li>
      </ul>
        <app-leftmenu *ngIf="isLoggedIn" [iconsonly]="false"></app-leftmenu>

        <app-globalmenu></app-globalmenu>

</div>
  </div>
</div>

<!-- ... end Fixed Sidebar Left -->
<!-- Fixed Sidebar Right -->

<div class="fixed-sidebar right">
  <div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

 

  </div>

  <div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

    <div class="search-friend inline-items">
      <form class="form-group">
        <input class="form-control" placeholder="Search Friends..." value="" type="text">
      </form>

      <a href="29-YourAccount-AccountSettings.html" class="settings">
        <svg class="olymp-settings-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-settings-icon"></use></svg>
      </a>

      <a style="cursor:pointer;" class="js-sidebar-open">
        <svg class="olymp-close-icon"><use xlink:href="../../../assets/icons/icons.svg#olymp-close-icon"></use></svg>
      </a>


    </div>

  </div>
</div>

<!-- ... end Fixed Sidebar Right -->
<!-- Fixed Sidebar Right -->


<!-- ... end Fixed Sidebar Right -->
