
<div class="ui-block" *ngIf="canSeeCommentForm">
  <div class="news-feed-form">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active inline-items" (click)="showformClicked(true)" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

          <i class="fa fa-2x fa-comments-o"></i>

          <span>{{'CommentCard' | translate}}</span>
        </a>
      </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content" [hidden]="!showForm">
      <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
        <form class="content" #commform="ngForm" (ngSubmit)="onCommentSubmit(commform)" ngNativeValidate>
          <div class="form-group">
            <app-errormessage [appMsg]="commentInfoMsg"></app-errormessage>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="comment">{{'ShareAComment' | translate}} {{selectedProperty.propName}}...</label>
            <textarea class="form-control" id="comment" name="comment" [(ngModel)]="commentForm.comment" placeholder="" required [attr.maxlength]="siteConstant.Max500Length"></textarea>
          </div>
          <div class="add-options-message">

            <p-toggleButton name="isAnonymous" onLabel="{{'Anonymous' | translate}}" offLabel="{{'MakeAnonymous' | translate}}" [(ngModel)]="commentForm.isAnonymous"></p-toggleButton>

            <button type="submit" [disabled]="!commform.form.valid" class="btn btn-blue btn-md-2">{{'Save' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
            <button type="button" class="btn btn-secondary btn-md-2" (click)="showformClicked(false)">{{'Cancel' | translate}} </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
