<ul class="notification-list">
  <li *ngIf="currentData.length < 1">{{'NoDataToDisplay' | translate}}</li>
  <li *ngFor="let currentItem of currentData; let i = index; trackBy : trackingBy"  [ngClass]="{'un-read' : i + 1  <= unseenNotificationCount}"  (click)="routeToNotification()">
    <div class="author-thumb">
      <i class="fa fa-bell"></i>
    </div>
    <div class="notification-event">
      <a  class="h6 notification-friend">{{currentItem.userName}}</a> {{ currentItem.notificationResourceKey | translate}} <i class="notification-link">{{currentItem.notificationAdditionalInfo | translate}}</i>.
      <span class="notification-date"><time class="entry-date updated"> {{currentItem.addedDateUtc | PSDateTransform }}</time></span>
    </div>

  </li>


</ul>


<app-pager *ngIf="availableData" [dataList]="availableData" (onPaged)="currentData = $event"></app-pager>
