

.LoginHome {
  background-color: white;
  color: black !important;
}


.pl_10 {
  padding-left: 10px;
}

.pl_15 {
  padding-left: 15px;
}

.pl_5 {
  padding-left: 5px;
}

.pl_20 {
  padding-left: 20px;
}

.pr_10 {
  padding-right: 10px;
}

.pr_15 {
  padding-right: 15px;
}

.pr_5 {
  padding-right: 5px;
}

.pr_20 {
  padding-right: 20px;
}

.pt_10 {
  padding-top: 10px;
}

.pt_15 {
  padding-top: 15px;
}

.pt_5 {
  padding-top: 5px;
}

.pt_20 {
  padding-top: 20px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pb_15 {
  padding-bottom: 15px;
}

.pb_5 {
  padding-bottom: 5px;
}

.pb_20 {
  padding-bottom: 20px;
}

.ml_10 {
  margin-left: 10px;
}

.ml_15 {
  margin-left: 15px;
}

.ml_5 {
  margin-left: 5px;
}

.ml_20 {
  margin-left: 20px;
}

.ml_25 {
  margin-left: 25px;
}

.mr_10 {
  margin-right: 10px;
}

.mr_15 {
  margin-right: 15px;
}

.mr_5 {
  margin-right: 5px;
}

.mr_20 {
  margin-right: 20px;
}

.mr_25 {
  margin-right: 25px;
}

.mr_2 {
  margin-right: 2px;
}

.mr_3 {
  margin-right: 3px;
}



.mb_10 {
  margin-bottom: 10px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_5 {
  margin-bottom: 5px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_25 {
  margin-bottom: 25px;
}


.mt_10 {
  margin-top: 10px;
}

.mt_15 {
  margin-top: 15px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_25 {
  margin-top: 25px;
}

.blueColor {
  color: #38a9ff;
}


.w-personal-info li {
  padding: 0px 0;
}

/*.ui-rating-star-on{

}*/

.specialbtn {
  display: inline-block;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.2rem 0.2rem;
  font-size: 0.812rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  color: #FFFFFF;
}

.bg-grey {
 
  background-color: #D8D8D8 !important;
  color: #FFF !important;
}

.btn:not([disabled]) {
  cursor:pointer;
}

.curPointer {
  cursor: pointer;
}

.friend-header-thumb_Cost {
  
  height: 50px;
  overflow: hidden;
}

.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload__label.bg-green:hover, .file-upload__label.bg-blue:hover, .file-upload__label.bg-breez:hover {
  background-color: #ff5e3a;
}

.file-upload__label:hover {
  cursor: pointer;
  background-color: #ff5e3a;
}


.file-upload__label {
 
  display: block;
  color: #fff;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 0.812rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  padding: 0;
}

.header {
  background-color: #1976d2;
}

.orangeColor {
  color:#ff5e3a ;
}

.bg-darkblueColor {
  background-color: #1976d2;
}
.mobile-app-tabs {
  background-color: #1976d2;

}

.dropdown-menu{
  min-width: 100%;
}

.linkActive {
  color: #1976d2 !important;
}


.g-recaptcha {
  width: 100%;
  border-radius: 4px;
  border-right: 1px solid #d8d8d8;
  overflow: hidden;
}


no-color{
  color: inherit;
}