<div class="container">
  <div class="row">
    <div class="col-xl-6  offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block" *ngIf="!isrequiresSecurity">
        <div class="ui-block-title">
          <h5 class="title">{{'LetFindAccount'| translate}}</h5>
        </div>
        <div class="ui-block-content">
          <form  class="content" #findform="ngForm" (ngSubmit)="onSubmitFind(findform)" ngNativeValidate>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="form-group">
                  <app-errormessage [appMsg]="forgotAccountMsg"></app-errormessage>
                </div>
                <div class="form-group">
                  <label class="control-label" for="email">{{'Email' | translate}}</label>
                  <input class="form-control" id="email" placeholder="{{'EnterEmail' | translate}}" pInputText [(ngModel)]="findAccountUser.email" name="email" type="email" required [attr.maxlength]="siteConstant.EmailMaxLength">
                </div>
               
                <button type="submit" class="btn btn-blue btn-lg full-width" [disabled]="!findform.form.valid"> {{'FindAccount' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
              </div>
              
            </div>
          </form>
        </div>
      </div>
      <div class="ui-block" *ngIf="isrequiresSecurity">
        <div class="ui-block-title">
          <h5 class="title">{{findAccountUser.securityQuestion}}</h5>
        </div>
        
        <div class="ui-block-content">
          <form class="content" #Securityform="ngForm" (ngSubmit)="onSubmitSecurity(Securityform)" ngNativeValidate>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="form-group">
                  <app-errormessage [appMsg]="forgotAccountMsg"></app-errormessage>
                </div>
                <div class="form-group">
                  <label class="control-label" for="userSecurityAns">{{'Answer' | translate}}</label>
                  <input class="form-control" id="userSecurityAns" placeholder="{{'EnterAnswer' | translate}}" pInputText [(ngModel)]="findAccountUser.userSecurityAns" name="userSecurityAns" type="text" required [attr.maxlength]="siteConstant.TextMaxLength">
                </div>
                <button type="submit" class="btn btn-blue btn-lg full-width" [disabled]="!Securityform.form.valid"> {{'Done' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
