<app-progressbar *ngIf="!isDoneLoading"></app-progressbar>
<div class="container" *ngIf="isDoneLoading">
  <div class="row">
    <div class="col-xl-6  offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h5 class="title">{{'NewPassword'|translate}}</h5>
        </div>
        <div class="ui-block-content">

          <form class="content" #newPasswordform="ngForm" (ngSubmit)="onSubmitPassword(newPasswordform)" ngNativeValidate>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="form-group">
                  <app-errormessage [appMsg]="newPassAccountMsg"></app-errormessage>
                </div>
                <div class="form-group">
                  <label class="control-label" for="password">{{'Password' | translate}}</label>
                  <input class="form-control" id="password" placeholder="{{'EnterPassword' | translate}}" pPassword promptLabel="{{ 'EnterPassword' | translate}}" [(ngModel)]="newPasswordUser.password" name="password" type="password" required [attr.maxlength]="siteConstant.PasswordMaxLength">
                </div>
                <div class="form-group">
                  <label class="control-label" for="confirmPassword">{{'ConfirmPassword' | translate}}</label>
                  <input class="form-control" id="confirmPassword" placeholder="{{'EnterPassword' | translate}}" [(ngModel)]="newPasswordUser.confirmPassword" name="confirmPassword" type="password" required [attr.maxlength]="siteConstant.PasswordMaxLength">
                </div>
                <button type="submit" class="btn btn-blue btn-lg full-width" [disabled]="!newPasswordform.form.valid"> {{'Submit' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
