<div class="registration-login-form">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a [ngClass]="{'nav-link': true, 'active' : !loginClicked }" (click)="tabClicked(false)" role="tab">
        <i class="fa fa-2x fa-user"></i>
      </a>
    </li>
    <li class="nav-item">
      <a [ngClass]="{'nav-link': true, 'active' : loginClicked }" (click)="tabClicked(true)" role="tab">

        <i class="fa fa-2x fa-sign-in"></i>
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    
    <div [ngClass]="{'tab-pane': true, 'active': !loginClicked}" role="tabpanel">
      <div class="title h6">{{'RegisterToday' | translate}}</div>

      <form class="content" #registerform="ngForm" (ngSubmit)="onSubmitRegister(registerform)" ngNativeValidate>
        <div class="row">

          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-group">
              <app-errormessage [appMsg]="loginRegisterMsg"></app-errormessage>
            </div>
            <div class="form-group label-floating">
              <label class="control-label" for="userTypeId">{{'SelectUserType' | translate}}</label>
              <select name="userTypeId" id="userTypeId" class="select-2" [(ngModel)]="registerUser.userTypeEnum" (change)="onUserTypeChange($event)" required>
                <option *ngFor="let utype of usertypes" [ngValue]="utype.userTypeEnum">{{utype.title}}</option>
              </select>
            </div>
            <div class="form-group ">
              <label class="control-label" for="firstName">{{ firstNameLabel | translate}}</label>
              <input class="form-control" id="firstName" placeholder="{{ firstNameEnterLabel | translate}}" pInputText name="firstName" type="text" [(ngModel)]="registerUser.firstName" [attr.maxlength]="siteConstant.FirstNameMaxLength" required>
            </div>
            <div class="form-group " [hidden]="isHideLastName">
              <label class="control-label" for="lastName">{{ 'LastName' | translate}}</label>
              <input class="form-control" id="lastName" placeholder="{{ 'EnterLastName' | translate}}" pInputText name="lastName" type="text" [(ngModel)]="registerUser.lastName" [attr.maxlength]="siteConstant.LastNameMaxLength" [required]="!isHideLastName">
            </div>
            <div class="form-group ">
              <label class="control-label" for="email">{{ 'Email' | translate}}</label>
              <input class="form-control" id="email" placeholder="{{ 'EnterEmail' | translate}}" name="email" pInputText type="email" [(ngModel)]="registerUser.email" [attr.maxlength]="siteConstant.EmailMaxLength" required>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="form-group ">
                  <label class="control-label" for="password">{{ 'Password' | translate}}</label>
                  <input class="form-control" id="password" placeholder="{{ 'EnterPassword' | translate}}" pPassword promptLabel="{{ 'EnterPassword' | translate}}" name="password" type="password" [(ngModel)]="registerUser.password" [attr.maxlength]="siteConstant.PasswordMaxLength" required>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="form-group ">
                  <label class="control-label" for="confirmPassword">{{ 'ConfirmPassword' | translate}}</label>
                  <input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'EnterPassword' | translate}}" pInputText type="password" [(ngModel)]="registerUser.confirmPassword" [attr.maxlength]="siteConstant.PasswordMaxLength" required>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="remember">

                  <!--<input name="isAcceptedTerms" type="checkbox" [(ngModel)]="registerUser.isAcceptedTerms">-->
                  <p-toggleButton name="isAcceptedTerms" onLabel="{{'Accepted' | translate}}" offLabel="{{'AcceptTerms' | translate}}" [(ngModel)]="registerUser.isAcceptedTerms"></p-toggleButton>
                  {{'IAcceptThe' | translate}} <a [routerLink]="['/useragreement']">{{'TermsAndCondition' | translate}}</a> {{'OfTheWebsite' | translate}}

                </div>
              </div>
            </div>
            <!--<div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="form-group ">
                  <app-recaptcha (onCaptchaVerified)="onRecaptchaClicked($event)"></app-recaptcha>
                </div>
              </div>

            </div>-->

            <button type="submit" class="btn btn-blue btn-lg full-width" [disabled]="!registerform.form.valid">{{'Register' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
          

            <p>{{'AlreadyHaveAccountQuestion' | translate}} <a data-toggle="tab" href="#" (click)="tabClicked(true)" role="tab">{{'LogIn' | translate}}!</a> </p>
          </div>
        </div>
      </form>
    </div>

    <div [ngClass]="{'tab-pane': true, 'active': loginClicked}" role="tabpanel">
      <div class="title h6">{{'WelcomeBackLogin' | translate}}</div>
      <form class="content" #loginform="ngForm" (ngSubmit)="onSubmitLogin(loginform)" ngNativeValidate>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-group">
              <app-errormessage [appMsg]="loginRegisterMsg"></app-errormessage>
            </div>
            <div class="form-group">
              <label class="control-label" for="loginemail">{{ 'Email' | translate}}</label>
              <input class="form-control" id="loginemail" placeholder="{{ 'EnterEmail' | translate}}"  name="loginemail"  pInputText [(ngModel)]="loginUser.email" type="email" [attr.maxlength]="siteConstant.EmailMaxLength" required>
            </div>
            <div class="form-group">
              <label class="control-label" for="loginpassword">{{ 'Password' | translate}}</label>
              <input class="form-control" id="loginpassword" name="loginpassword" [(ngModel)]="loginUser.password" pInputText   placeholder="{{ 'EnterPassword' | translate}}" type="password" [attr.maxlength]="siteConstant.PasswordMaxLength" required>
            </div>

            <div class="remember">
              <p-toggleButton name="rememberMe" onLabel="{{'Remembered' | translate}}" offLabel="{{'RememberMe' | translate}}" [(ngModel)]="loginUser.rememberMe"></p-toggleButton>
            
              <a [routerLink]="['/forgotaccount']"  class="forgot">{{'ForgotAccountQuestion' | translate}}</a>
            </div>

            <button class="btn btn-lg btn-blue full-width" [disabled]="!loginform.form.valid" type="submit">{{'LogIn' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>

            <p>{{'DontHaveAccount' | translate}} <a data-toggle="tab" href="#" (click)="tabClicked(false)" role="tab">{{'RegisterNow' | translate}}</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
