<div class="ui-block text-center" *ngIf="currentCards.length < 1">
  <h5>{{'NoDataToDisplay' | translate}}</h5>
</div>


<div *ngFor="let commCard of currentCards;  trackBy : trackingBy">

  <div class="ui-block">
    <article class="hentry post">

      <div class="post__author author vcard inline-items">

        <div class="author-date">
          <h6 class="h6 post__author-name fn" >{{commCard.userName | translate}}</h6>
          <div class="post__date">
            <time class="published">
              {{commCard.addedDateUtc | PSDateTransform }}
            </time>
          </div>
        </div>

      </div>

      <p>
        {{commCard.comment}}
      </p>



    </article>


  </div>

</div>



<app-pager *ngIf="availableCommentCards" [dataList]="availableCommentCards" (onPaged)="currentCards = $event"></app-pager>
