<div class="row">
  <div class="col-xl-4  col-lg-4  col-md-12 col-sm-12 col-xs-12">
    <div class="ui-block">
      <div class="ui-block-title">
        <h6 class="title">{{'Information' | translate}}</h6>
      </div>
      <div class="ui-block-content">
        <ul class="widget w-personal-info">
          <li>
            <span class="title">{{'Address' | translate}}:</span>
            <span class="text" [innerHTML]="selectedProperty | AddressFormat"></span>
          </li>
          <li>
            <span class="title">{{'Type' | translate}}:</span>
            <span class="text">{{selectedProperty?.propType | translate}}</span>
          </li>
          <li>
            <span class="title">{{'Phone' | translate}}:</span>
            <span class="text"><a href="tel:{{selectedProperty?.phone}}"><i class="fa fa-phone"></i> {{selectedProperty?.phone}}</a></span>
          </li>
          <li>
            <span class="title">{{'Fax' | translate}}:</span>
            <span class="text"><a href="tel:{{selectedProperty?.fax}}"><i class="fa fa-fax"></i> {{selectedProperty?.fax}}</a></span>
          </li>
          <li>
            <span class="title">{{'Email' | translate}}:</span>
            <span class="text"><a href="mailto:{{selectedProperty?.email}}?Subject={{selectedProperty.propName}}" target="_top"><i class="fa fa-envelope"></i> {{selectedProperty?.email}}</a></span>
          </li>
          <li>
            <span class="title">{{'Website' | translate}}:</span>
            <span class="text"><a href="{{selectedProperty?.weburl}}" target="_blank"><i class="fa fa-globe"></i> {{selectedProperty?.weburl}}</a></span>
          </li>
     
        </ul>


      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-8  col-md-12 col-sm-12 col-xs-12">
    <div class="ui-block">
      <div class="ui-block-title">
        <h6 class="title">{{'About' | translate}}</h6>
        
      </div>
      <div class="ui-block-content">
        <div class="row" [innerHTML]="selectedProperty?.aboutUs">
            
        </div>
      </div>
    </div>
    <div class="ui-block">
      <div class="ui-block-title">
        <h6 class="title">{{'Hours' | translate}}</h6>
      </div>
      <div class="ui-block-content">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <app-hoursoperation [isDisplay]="true" [newProperty]="selectedProperty"></app-hoursoperation>
          </div>
       
        </div>
      </div>
    </div>
  </div>

</div>
