<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img [src]="coverimage" alt="nature">
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col-lg-5 col-md-5 ">
                <ul class="profile-menu">
                  <li>
                    <a [routerLink]="[{outlets: {'section': ['aboutInfo']}}]" routerLinkActive="linkActive">{{'About' | translate}}</a>
                  </li>
                  <!--<li>
                    <a href="#" >{{'Posts' | translate}}</a>
                  </li>
                  <li>
                    <a href="#">{{'Reviews' | translate}}</a>
                  </li>-->
                </ul>
              </div>
              <div class="col-lg-5 offset-lg-2 col-md-5 offset-md-2">

                <ul class="profile-menu">
                  <li>
                    <a [routerLink]="[{outlets: {'section': ['reviewinfo']}}]" routerLinkActive="linkActive">{{'Reviews' | translate}}</a>
                  </li>
              <!--<li>
                     <a href="#">{{'Badges' | translate}}</a>
                  </li>-->

                </ul>
              </div>
            </div>

          </div>
          <div class="top-header-author">
            <div class="author-content">
              <h4 class="author-name">{{selectedProperty.propName}}</h4>
              <div class="country">{{selectedProperty.zipCode.city}}, {{selectedProperty.zipCode.province}} {{selectedProperty.zipCode.countryCode}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
   <router-outlet name="section"></router-outlet>
</div>



