<div class="ui-block text-center" *ngIf="currentdata.length < 1">
  <h5>{{'NoDataToDisplay' | translate}}</h5>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngFor="let itemData of currentdata; let i = index;  trackBy : trackingBy">
    <div class="ui-block">
      <div class="friend-item fav-page">
        <div class="friend-header-thumb_Cost">
         
        </div>

        <div class="friend-item-content">

          <div class="more">
           <i class="fa  fa-ellipsis-h"></i>
           <ul class="more-dropdown">
             <li>
               <a *ngIf="itemData.roleId != null"  [routerLink]="['/managerole', itemData.roleId]" >{{'ManageRole' | translate}}</a>
             </li>
           
             <li>
               <a style="cursor:pointer;"    PSSweetAlert (onConfirm)="ondeleteStaff(i)">{{'Delete' | translate}}</a>
             </li>

           </ul>
          </div>
          <div class="friend-avatar">
            <div class="author-thumb">
              <img [src]="GetImageUrl(itemData.userPhoto)"  style="max-height:100px;"  alt="author">
            </div>
            <div class="author-content">
              <h5  class="h5 author-name">{{itemData.userName}}</h5>
              <div class="country">{{itemData.title}}</div>
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="friend-count" >      
                  <a href="#" class="friend-count-item" >
                    <div class="h6">{{'Role'| translate}} {{'Colon'| translate}} {{getRoleName(itemData.roleName) | translate}}</div>
                  </a>
                </div>
              
              </div>         
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <app-pager *ngIf="availabledata" [dataList]="availabledata" (onPaged)="currentdata = $event"></app-pager>
