
<ul class="widget  item-block" *ngIf="isDisplay && haveSavedData">
  <li *ngFor="let opHour of operateHours" class="pb-2">
    <span class="title pr-3"><strong>{{opHour.dayKey | translate}}</strong></span>
    <span class="date" *ngIf="opHour.isClosed">{{'Closed' | translate}}</span>
    <span class="date" *ngIf="!opHour.isClosed">{{opHour.openTime}}{{opHour.openTimeType | translate}} - {{opHour.closeTime}}{{opHour.closeTimeType | translate}}</span>

  </li>

</ul>

<form  #hourForm="ngForm"  *ngIf="!isDisplay" (ngSubmit)="onHoursSubmit(hourForm)" ngNativeValidate>
  <div class="row pb-4" >
    <app-errormessage [appMsg]="hoursInfoMsg"></app-errormessage>
  </div>
  <div class="row pb-4" *ngFor="let opHour of operateHours;let i = index">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <strong>{{opHour.dayKey | translate}}</strong>     
      </div>     
    </div>
   
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="input-group">
        <p-inputMask name="openTime_{{i}}" placeholder="{{'Opens' | translate}}"  [(ngModel)]="opHour.openTime" mask="99:99" ></p-inputMask>
        <span class="input-group-btn">
          <select [(ngModel)]="opHour.openTimeType" name="openTimeType_{{i}}">
             <option value="am">{{'am' | translate}}</option>
            <option value="pm">{{'pm' | translate}}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="col-lg-34 col-md-4 col-sm-6 col-xs-6">
      <div class="input-group">
        <p-inputMask name="closeTime_{{i}}" placeholder="{{'Closes' | translate}}" [(ngModel)]="opHour.closeTime" mask="99:99"></p-inputMask>
        <span class="input-group-btn">
          <select [(ngModel)]="opHour.closeTimeType" name="closeTimeType_{{i}}">
            <option value="am">{{'am' | translate}}</option>
            <option value="pm">{{'pm' | translate}}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
      <div class="form-group">
        <p-toggleButton name="isClosed_{{i}}" onLabel=" {{'Closed' | translate}}" offLabel="{{'ClosedQues' | translate}}" [(ngModel)]="opHour.isClosed"></p-toggleButton>
      </div>
   
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button class="btn btn-secondary btn-lg full-width" type="button" (click)="onCancel(hourForm)" >{{'Cancel' | translate}}</button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button class="btn btn-blue btn-lg full-width" type="submit">{{'Save' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
        </div>
      </div>
    </div>
  </div>
</form>
