<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">{{'Deactivateyouraccount' | translate}}</h6>
  </div>
  <div class="ui-block-content">
    <form #deactiveForm="ngForm" (ngSubmit)="onSubmitDeactivate(deactiveForm)" ngNativeValidate>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <app-errormessage [appMsg]="infoMsg"></app-errormessage>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <p>{{'DeactivateMessage' | translate}}</p>
          </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label">{{'CurrentPassword' | translate}}</label>
            <input class="form-control" placeholder="{{'EnterPassword' | translate}}" type="password" pInputText name="password" [(ngModel)]="user.password" required [attr.maxlength]="siteConstant.PasswordMaxLength">
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label">{{'DeactivateConfirm' | translate}}</label>
            <p-toggleButton name="isDeactivate" id="isDeactivate" onLabel="{{'Yes' | translate}}" offLabel="{{'No' | translate}}" [(ngModel)]="isDeactivateConfirm"></p-toggleButton>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

              <button type="submit" class="btn btn-blue btn-lg full-width">{{'Deactivate' | translate}} <app-progressbar [isSpinner]="true" *ngIf="isSubmitted"></app-progressbar></button>
            </div>
          </div>

        </div>

      </div>
    </form>
  </div>
</div>
