<div class="ui-block-title ui-block-title-small">
  <h6 class="title">Your Account</h6>
</div>

<ul class="account-settings">
  <!--<li *ngIf="isLoggedIn">
    <a [routerLink]="['/profile']"  routerLinkActive="linkActive">

      <i class="fa fa-2x fa-user left-menu-icon olymp-star-icon"></i>

      <span class="ml-2">{{'Profile'|translate}}</span>
    </a>
  </li>-->
  <li *ngIf="isLoggedIn">
    <a [routerLink]="['/settings']"  routerLinkActive="linkActive">

      <i class="fa fa-2x fa-wrench left-menu-icon olymp-star-icon"></i>

      <span class="ml-2">{{'Settings'|translate}}</span>
    </a>
  </li>
  <li *ngIf="!isLoggedIn">
    <a [routerLink]="['']" >

      <i class="fa fa-2x fa-sign-in left-menu-icon olymp-star-icon"></i>

      <span class="ml-2">{{'LogIn'|translate}}</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/help']"  routerLinkActive="linkActive">

      <i class="fa fa-2x fa-question-circle left-menu-icon olymp-star-icon"></i>

      <span class="ml-2">{{'Help'|translate}}</span>
    </a>
  </li>
  <li *ngIf="isLoggedIn">
    <a (click)="logOutUser()" style="cursor:pointer">
      <i class="fa fa-2x fa-sign-out left-menu-icon olymp-star-icon"></i>

      <span class="ml-2">{{'LogOut'|translate}}</span>
    </a>
  </li>
</ul>


<div class="ui-block-title ui-block-title-small">
  <h6 class="title">{{'About' | translate}} {{'CommiHub' | translate}}</h6>
</div>



<ul class="about-olympus">
  <li>
    <div class="dropdown">
      <a class="" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentDiplayLang}} <i class="fa fa-caret-down"></i>
      </a>

      <div class="dropdown-menu pl_10" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" *ngFor="let uiLanguage of availableLangs" style="cursor:pointer;" [hidden]="currentValueLang == uiLanguage.lang" (click)="switchLanguage(uiLanguage)">{{uiLanguage.displayName}}</a>
      </div>
    </div>

  </li>
  <li>
    <a [routerLink]="['/aboutus']"  routerLinkActive="linkActive">
      <span>{{'About' | translate}}</span>
    </a>
  </li>

  <li>
    <a [routerLink]="['/useragreement']"  routerLinkActive="linkActive">
      <span>{{'Userterms' | translate}}</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/privacypolicy']"  routerLinkActive="linkActive">
      <span>{{'Privacy' | translate}}</span>
    </a>
  </li>

</ul>
