<ul class="left-menu">

  <li *ngIf="!iconsonly">
    <a style="cursor:pointer;" class="js-sidebar-open" (click)="CloseLeftMenu()">
      <i class="fa fa-2x fa-close" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Close'|translate"></i>
      <span class="left-menu-title ml-2">{{'CollapseMenu'|translate}}</span>
    </a>
  </li>

  <li *ngIf="!iconsonly">
    <div class="dropdown">
      <a class="btn bg-darkblueColor" style="color:white; font-weight:bold; cursor:pointer;" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{selectedProperty?.propName}} &nbsp; <i *ngIf="userProperties?.length > 1" class="fa fa-caret-down"></i>
      </a>

      <div *ngIf="userProperties?.length > 1" style="cursor:pointer;" class="dropdown-menu pl_10" aria-labelledby="dropdownMenuLink">
        <a *ngFor="let prop of userProperties" style="cursor:pointer;" [hidden]="hidePropertyLink(prop)" (click)="selectProperty(prop)" class="dropdown-item">{{prop.propName}}</a>
      </div>
    </div>
  </li>
  <li *ngIf="iconsonly">
    <a style="cursor:pointer;" class="js-sidebar-open" (click)="OpenLeftMenu()">
      <i class="fa fa-2x fa-list" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'OpenMenu'|translate"></i>

    </a>
  </li>
  <!--<li>
    <a routerLink="/dashboard">
      <i class="fa fa-2x fa-dashboard" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Dashboard'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'Dashboard'|translate}}</span>
    </a>
  </li>-->
  <li *ngIf="userSession?.isManager">
    <a [routerLink]="['/management']" routerLinkActive="linkActive">
      <i class="fa fa-2x fa-building" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Management'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'Management'|translate}}</span>
    </a>
  </li>
  <li *ngIf="userSession?.userTypeEnum == 'Tenant'">
    <a [routerLink]="['/myhomes']" routerLinkActive="linkActive">
      <i class="fa fa-2x fa-building" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Homes'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'Homes'|translate}}</span>
    </a>
  </li>
  <li *ngIf="selectedProperty">
    <a [routerLink]="['/property',selectedProperty?.urlFriendlyName]" routerLinkActive="linkActive">
      <i class="fa fa-2x fa-home" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'PropertyPage'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'PropertyPage'|translate}}</span>
    </a>
  </li>
  <li>
    <a [routerLink]="['/newsfeed']" routerLinkActive="linkActive">
      <i class="fa fa-2x fa-newspaper-o" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Posts'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'Posts'|translate}}</span>
    </a>
  </li>
  <li *ngIf="selectedProperty">
    <a [routerLink]="['/servicerequest']" routerLinkActive="linkActive">
      <i class="fa fa-2x fa-briefcase" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'ServiceRequests'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'ServiceRequests'|translate}}</span>
    </a>
  </li>

  <!--<li>
    <a routerLink="/events">
      <i class="fa fa-2x fa-calendar" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'CalendarandEvents'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'CalendarandEvents'|translate}}</span>
    </a>
  </li>-->
  <li *ngIf="selectedProperty">
    <a [routerLink]="['/reviews']" routerLinkActive="linkActive">
      <i class="fa fa-2x fa-star-o" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'Reviews'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'Reviews'|translate}}</span>
    </a>
  </li>
  <li *ngIf="selectedProperty">
    <a [routerLink]="['/commentcard']" routerLinkActive="linkActive">
      <i class="fa fa-2x fa-comments-o" data-toggle="tooltip" data-placement="right" [attr.data-original-title]="'CommentCard'|translate"></i>
      <span class="left-menu-title ml-2" *ngIf="!iconsonly">{{'CommentCard'|translate}}</span>
    </a>
  </li>

</ul>
