<div class="ui-block text-center" *ngIf="currentdata.length < 1">
  <h5>{{'NoDataToDisplay' | translate}}</h5>
</div>

<ul class="notification-list friend-requests">
  <li *ngFor="let itemData of currentdata">
    <div class="author-thumb">
      <img [src]="GetImageUrl(itemData.userPhoto)" style="max-height: 36px;"  alt="author">
    </div>
    <div class="notification-event">
      <h6 class="notification-friend">{{isTenant? itemData.unitName : itemData.userName}}</h6>
      <span class="chat-message-item">{{'UnitBuilding' | translate}} {{'Colon' | translate}} <strong>{{itemData.unitAddress}}</strong></span>
    </div>

    <span class="notification-icon" *ngIf="displayType == 'pending' && !isTenant">
      <button type="button" class="btn btn-secondary btn-sm" PSSweetAlert (onConfirm)="statusChangeClick('Approval', false, itemData)">{{'Reject' | translate}}</button>
      <button type="button" class="btn btn-blue btn-sm" PSSweetAlert (onConfirm)="statusChangeClick('Approval', true, itemData)">{{'Approve' | translate}}</button>
    </span>
    <span class="notification-icon" *ngIf="displayType == 'pending' && isTenant">
      <button type="button" class="btn btn-secondary btn-sm" PSSweetAlert (onConfirm)="statusChangeClick('Cancel', false, itemData)">{{'Cancel' | translate}}</button>
      <button type="button" class="btn btn-blue btn-sm" [disabled]="true">{{'PendingApproval' | translate}}</button>
    </span>
    <span class="notification-icon" *ngIf="displayType == 'current'">
      <button type="button" class="btn btn-secondary btn-sm" PSSweetAlert (onConfirm)="statusChangeClick('MoveOut', true, itemData)">{{'Moveout' | translate}}</button>

      <!--<button type="button" class="btn btn-blue btn-sm">{{'ViewDetails' | translate}}</button>-->
    </span>
    <span class="notification-icon" *ngIf="displayType == 'past'">
      <!--<button type="button" class="btn btn-blue btn-sm">{{'ViewDetails' | translate}}</button>-->
    </span>
  </li>

</ul>

  <app-pager *ngIf="availabledata" [dataList]="availabledata" (onPaged)="currentdata = $event"></app-pager>
