<div class="ui-block">
  <div class="ui-block-title">
    <h5 class="first">{{'TotalReviews' | translate}} ({{total}})</h5>
  </div>

  <div class="col-12">
    <div class="form-group">
      <h5 class="first">{{'Overall' | translate}} </h5>
      <p-rating name="overallRatingAvg" [(ngModel)]="overallRatingAvg" readonly="true"
        iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Staff' | translate}}</h5>
      <p-rating name="staffRatingAvg" [(ngModel)]="staffRatingAvg" readonly="true"
        iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Maintenance' | translate}}</h5>
      <p-rating name="maintenanceRatingAvg" [(ngModel)]="maintenanceRatingAvg" readonly="true"
        iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Safety' | translate}}</h5>
      <p-rating name="safetyRatingAvg" [(ngModel)]="safetyRatingAvg" readonly="true"
        iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Neighborhood' | translate}}</h5>
      <p-rating name="neighborRatingAvg" [(ngModel)]="neighborRatingAvg" readonly="true"
        iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Grounds' | translate}}</h5>
      <p-rating name="groundsRatingAvg" [(ngModel)]="groundsRatingAvg" readonly="true"
        iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Noise' | translate}}</h5>
      <p-rating name="noiseRatingAvg" [(ngModel)]="noiseRatingAvg" readonly="true"
        iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
  </div>

</div>