
<div class="ui-block">
  <div class="ui-block-title">
    <h5 class="first">{{'TotalReviews' | translate}} ({{total}})</h5>
  </div>

  <div class="col-12">
    <div class="form-group">
      <h5 class="first">{{'Overall' | translate}} </h5>
      <p-rating name="overallRatingAvg" [(ngModel)]="overallRatingAvg" [cancel]="false" readonly="true" iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Staff' | translate}}</h5>
      <p-rating name="staffRatingAvg" [(ngModel)]="staffRatingAvg" [cancel]="false" readonly="true" iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Maintenance' | translate}}</h5>
      <p-rating name="maintenanceRatingAvg" [(ngModel)]="maintenanceRatingAvg" [cancel]="false" readonly="true" iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Safety' | translate}}</h5>
      <p-rating name="safetyRatingAvg" [(ngModel)]="safetyRatingAvg" [cancel]="false" readonly="true" iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Neighborhood' | translate}}</h5>
      <p-rating name="neighborRatingAvg" [(ngModel)]="neighborRatingAvg" [cancel]="false" readonly="true" iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Grounds' | translate}}</h5>
      <p-rating name="groundsRatingAvg" [(ngModel)]="groundsRatingAvg" [cancel]="false" readonly="true" iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
    <div class="form-group">
      <h5 class="first">{{'Noise' | translate}}</h5>
      <p-rating name="noiseRatingAvg" [(ngModel)]="noiseRatingAvg" [cancel]="false" readonly="true" iconOnClass="fa-star bg-warning specialbtn" iconOffClass="fa-star specialbtn bg-grey"></p-rating>
    </div>
  </div>

</div>
