<div class="ui-block">
  <div class="ui-block-title">
    <h6 class="title">{{headerTitle | translate}}</h6>
  </div>
  <div class="ui-block-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a [ngClass]="{'nav-link': true, 'curPointer': true , 'active': currentTab == 'current' }" id="current-tab" (click)="changeTab('current')" >{{'Current' | translate}}</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'nav-link': true, 'curPointer': true, 'active': currentTab == 'pending' }" id="pending-tab" (click)="changeTab('pending')" >{{'PendingApproval' | translate}}</a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{'nav-link': true, 'curPointer': true , 'active': currentTab == 'past'}" id="past-tab" (click)="changeTab('past')" >{{'Past' | translate}}</a>
      </li>

    </ul>
    <div class="" id="myTabContent">
      <div class="" *ngIf="currentTab == 'current'" id="current">
        <app-residents-list [displayType]="currentTab"></app-residents-list>
      </div>
      <div class="" id="pending"  *ngIf="currentTab == 'pending'">
        <app-residents-list [displayType]="currentTab"></app-residents-list>
      </div>
      <div class="" id="past"  *ngIf="currentTab == 'past'">
        <app-residents-list [displayType]="currentTab"></app-residents-list>
      </div>
     
    </div>

  </div>
</div>
